* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*-------------[ headings ]--------------*/

h1, h2, .alignment {
  font-family: 'Bungee', cursive;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0;
  line-height: inherit;
}

.alignment {
  font-size: 2rem;
}
h5 {
  font-family: 'Bungee', cursive;
}

/*----------[ Links ]-----------*/

.card-home-width:hover, .card:hover {
  transform: scale(1.005);
  box-shadow: 0px 9px 30px 0 rgb(0 0 0 / 35%), 0px 15px 30px 0 rgb(0 0 0 / 30%) !important;
  padding: 0 !important;
}

a{
  text-decoration: none;
}
/*----------[ Navbar ]----------*/

.navbar-brand {
  font-family: 'Bangers', cursive;
  font-size: 2rem;
}

.nav-item {
  font-family: 'Bungee', cursive;
}

/*------------[ Homepage cards ]------------*/

.card-home-width {
  width: 28em;
  padding: 0;
  text-decoration: none;
  border: none;
}



.img-card-home {
  height: 320px;
  object-fit: cover;
}

/*------------[ Heroes page card ]------------*/
.card{
  text-decoration: none;
  padding: 0;
}

.card-width {
  min-width: 18em;
}

.hero-img {
  max-height: 320px;
  object-fit: cover;
}

.radius-bottom {
  border-radius: 0 0 4px 4px;
}

.radius-top {
  border-radius: 4px 4px 0 0;
}

.shadow {
  box-shadow: 5px 8px 30px 0 rgb(0 0 0 / 30%), 0 8px 25px 0 rgb(0 0 0 / 15%) !important;
}

/*----------------[ HERO PAGE ]------------------------*/

.img-fluid {
  width: 100%;
  border-radius: 4px;
}

.div-shape{
  clip-path: polygon(1% 0, 100% 0%, 99% 100%, 0% 100%);
  width: 50%;
  border-radius: 3px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
