.App {
  text-align: center;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Bungee', cursive;
  font-weight: bold;
  font-style: italic;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
